<form action="">
  <img src="assets/cliente.png" alt="">

  <!-- Nome -->
  <input type="text" placeholder="Nome" class="form-control" name="nome" [(ngModel)]="cliente.nome">
  <!-- Idade -->
  <input type="number" placeholder="Idade" class="form-control" name="idade" [(ngModel)]="cliente.idade">
  <!-- Cidade -->
  <input type="text" placeholder="Cidade" class="form-control" name="cidade" [(ngModel)]="cliente.cidade">

  <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary" (click)="cadastrar()"
    title="Cadastrar">
  <input type=" button" value="Alterar" *ngIf="btnAlterar" class="btn btn-warning" title="Alterar">
  <input type="button" value="Remover" *ngIf="btnRemover" class="btn btn-danger" title="Remover">
  <input type="button" value="Cancelar" *ngIf="btnCancelar" class="btn btn-secondary" title="Cancelar">
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>

  </thead>

  <tbody>
    <tr *ngFor="let c of clientes; index as i">
      <td>{{i+1}}</td>
      <td>{{c.nome}}</td>
      <td>{{c.idade}}</td>
      <td>{{c.cidade}}</td>
      <td><button class="btn btn-success">Selecionar</button></td>
    </tr>
  </tbody>
</table>
